/* table */
table {
    width: 100%;
    /* margin-bottom: 1rem; */
    color: #212529;
    border-collapse: collapse;
    border-radius: 6px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #dee2e6;
    background-color: white;
  }
  
  table thead th {
    border-bottom-width: 2px;
    vertical-align: bottom;
    padding: 0.75rem;
    font-size: 15px;
  }
  
  table th, table td {
    padding: 15px;
    border-collapse: collapse;
    text-align: center;
  }
  
  .categTable table thead tr th:last-child {
    width: 70px !important;
  }
  
  .categTable table thead tr th:nth-child(3) {
    width: 90px !important;
  }
  
  .propTable table thead tr th:last-child {
    width: 70px !important;
  }
  
  .dotsMenu {
    background: #fff;
    border: none;
    outline: none;
    padding: 5px 10px !important;
    border-radius: 4px;
  }
  
  .dotsMenu svg {
    font-size: 18px;
    transition: 0.3s;
  }
  
  .dotsMenu:hover svg {
    transform: translateY(-2px);
  }
  
  .pagination {
    justify-content: space-between;
  }
  
  .pagination .main_pagination {
    display: flex;
    align-items: center;
  }
  
  .pagination .main_pagination button {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: 5px;
    line-height: 1.25;
    color: var(--main);
    border-radius: 5px !important;
    outline: none;
    background-color: #fff;
    border: 1px solid transparent;
  }
  .pagination .main_pagination button:disabled {
    /* background-color: #f1f1f1 */
    cursor: not-allowed;
  }
  .pagination .main_pagination button svg {
    font-size: 14px;
  }
  
  .pagination .main_pagination button:focus {
    outline: none;
  }
  
  .pagination .main_pagination span {
    margin-right: 15px;
  }
  
  .pagination select {
    appearance: none;
  }
  
  .btn_sec {
    border: none;
    outline: none;
    background: #6d6d6d;
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
  }
  
  .btn_sec:active, .btn_sec:focus {
    outline: none;
  }
  
  td {
    position: relative;
  }
  
  .tableMenuMain .cardSettingsMenu {
    top: 55px;
    width: 170px;
  }
  
  .cardSettingsMenu {
    background: #fff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
    position: absolute;
    width: 150px;
    z-index: 1;
    border-radius: 4px;
    left: 12px;
    top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.08);
  }
  
  .cardSettingsMenu button {
    background: none;
    border: none;
    outline: none;
    text-align: right;
    color: #989898;
    transition: 0.3s;
  }
  
  .cardSettingsMenu button:hover {
    color: #636363;
  }
  
  .cardSettingsMenu button svg {
    font-size: 16px;
    margin-left: 10px;
  }
  
  tbody tr:nth-of-type(odd) {
    background-color: #f1f1f1;
  }
  
  .tag {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 2px;
    color: #fff;
  }
  
  .parent-container-abs {
    position: relative;
  }
  
  .child-element-abs {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
  
  .pointer {
    cursor: pointer !important;
    user-select: none;
  }